<footer>
  <div class="container">
    {% if site.github_repo_uri %}
    <section>
      <h2>Open Source</h2>
      <p>This site is open source and the full source code is available on GitHub.</p>
      <p><i class="fa fa-github"></i><a href="//github.com/{{ site.github_repo_uri }}">View Source</a></p>
    </section>
    {% endif %}

    <section>
      <h2>Made with <i class="fa fa-heart"></i></h2>
      <p>Created by Colin Campbell</p>
      <p><i class="fa fa-github"></i><a href="//github.com/colin-c" target="_blank">GitHub</a></p>
      <p><i class="fa fa-twitter"></i><a href="//twitter.com/xiroxas" target="_blank">Twitter</a></p>
    </section>
    
    <section>
     <h2>ATEC 3361</h2>
      <p class="thin-text">Internet Studio I</p>
      
      <p class="thin-text">The Univserity of Texas at Dallas</p>
      
      <p><i class="fa fa-file-text-o"></i><a href="http://lucypet.com/syllabus/syllabus.html" target="_blank">Class Syllabus</a></p>
    </section>
  </div>
</footer>
