@charset "UTF-8";

/* ATEC 3361 Assignment 1 */

body {
  color: #777;
  font-size: 100%;
  font-family: 'Lato';
  
  background-color: #E86828;
  cursor: default;
}

/* Header */

header {
  padding: 20px;
  background-color: #F2EA64;
}

header h1 {
  font-size: 2em;
  color: #E86828;
}

header h2 {
  padding-top: 5px;
  font-size: 1.2em;
}

span.author-by {
  margin-right: 2px;
  color: #999;
}

/* Main Content */

article {
  background-color: #F3C22D;
}

figure {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

figcaption {
  padding: 20px;
  color: #E86828;
  font-size: 1.2em;
  text-align: center;
}

figure video {
  width: 100%;
}

figure img {
  width: 100%;
}

/* Basic Element Styling */

a, a:link, a:visited,
a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
