// Global Site Styles //
@import "global-variables";
@import "type";

hr.dotted {
  background-color: transparent;
  border-top: 1px dotted #bbb;
}

// Code
code.standalone {
  border: 1px solid #CCC;
}

// Header
header > .container {
  border-bottom: 1px solid $lightGrey;
}

// Main content
body > section > .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

// Footer
footer {
  background-color: $lightGrey;
  
  padding-bottom: 20px;
}

footer > .container > section {
  @extend .col-sm-4;

  color: $grey;
  padding: 15px;

  h2 { font-size: 1.5em; }
  h3 { font-size: 1.2em; }

  p {
    padding-left: 0;
    margin-bottom: 0;
  }
}
